@CHARSET "UTF-8";
body {
	/*margin: 0px;*/
	/*font-family: Georgia,Century Gothic, sans-serif;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #e8e4de;
	/*background-image: url(../images/fondBleuBlanc.jpg);*/

}

#global {
  position:absolute;
  left: 50%;
  /*top: 50%;*/
  width: 1024px;
  height: 570px;
  /*margin-top: -256px;*//* moitié de la hauteur */
  margin-left: -512px; /* moitié de la largeur */
  /*border: 1px solid #000;*/
  background-image: url(./CD_template_documents/static/src/img/back_ground_CD.png);
  /*background-color: #e8e4de;*/
  border-radius: 10px;
}

a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:  none;
	/*font-weight:bold;*/
	/*font-style: oblique;*/
	font-size: 12px;
	color: #514df7;
	/*color: #0877b7;*/

}


a:hover {
	text-decoration: underline;
	/*color: #DA6C0A;*/
}

#header {
 	position:absolute;
 	height: 60px;
 	/*background-color:cyan;*/
 	/*left:10px;*/
 	width:850px;
 	/*padding-top: 10px;*/
 	/*padding-left : 1em;*/
 	background-color: transparent;
 	font-size: 30px;
	/*font-weight: bold;*/
	margin-bottom: 20px;
	color: #ef5501;
  }

#menu {
 	position:absolute;
 	/*background-color:cyan;*/
 	top : 70px;
 	left:10px;
 	width:130px;
 	padding: 10px;
 	background-color: transparent;
  }

#page {
	position:absolute;
	/*background-color:#AAAAAA;*/
	top : 80px;
	left : 160px;
	width:250px;
	/*margin: 2em;*/
	padding: 10px;
    height:453px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    background-color: transparent;
  }


#login {
	position:absolute;
	/*background-color:#f8efd1;*/
	top : 10px;
	left : 715px;
	width:295px;
	/*padding: 1em 1em;*/
  height:50px;
  /*border: 1px solid #999;*/
  border-radius: 10px;
  }

#wall {
	position:absolute;
	top : 80px;
	left : 450px;
	width:560px;
	/*padding: 1em 1em;*/
  height:475px;
  /*border: 1px solid #999;*/
  /*background-color: #f8e1dc;*/
  background-color: rgb(217,109,109);
  border-radius: 10px;
  }

.section {
 	position:relative;
 	/*background-color:cyan;*/
 	/*left:10px;*/
 	width:130px;
 	/*padding: 1em 1em;*/
 	background-color: transparent;
  }

.menuP {
	font-size: 12px;
	margin-left: 5px;
	color: red;
}

#sectionFond {
 	position:relative;
 	/*background-color:cyan;*/
 	/*left:10px;*/
 	width:220px;
 	padding: 1em 1em;
 	background-color: transparent;
 	background-image: url(../images/fondBleuBlanc.jpg);
  }

#pubs {
	font-size: 12px;
	margin-left: 5px;
	/*color: rgb(95,95,95);gris*/
	color: white
}
#vegetables {
	font-size: 12px;
	margin-left: 5px;
	color: rgb(95,95,95);/*gris*/
}

.styleNews {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	font-size: 11px;
	color: #333333;
}

.styleFont {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.fontG12 {
	font-size: 12px;
	color: #7576c1;
}

.fontO14 {
	font-size: 14px;
	color: #ef5501;
}

.style1 {
	font-size: 16px;
	font-weight: bold;
}

.style2 {
	font-size: 24px;
	font-weight: bold;
}
.style3 {font-size: 32px}

h1 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #ef5501;
}

h2 {
	font-size: 12px;
	font-weight: bold;
	/*margin-bottom: 12px;*/
	color: #647fec;
}

h2.inverse {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	color: white;
	background-color: #98a9ec;
	/*background-image: url(../images/fondBleuBlanc.jpg);*/
	/*width: 125px;*/
	/*height: 20px;*/
	text-align: center;
}

h2.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	margin-bottom: 0px;
	margin-top : 0px;
	font-size: 16px;
	font-weight: bold;
	/*margin-bottom: 10px;*/
	color: #e830a9;
	line-height: 30px;
	padding-left: 10px;
}

table.news {
	cellspacing : 5px;
	align="left";
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*font-family: Georgia, Times New Roman, Times, serif;*/
	font-size: 11px;
	color: #333333;
	border-radius: 10px;
}

/* skinned select */

div.skinned-select .select-text,
div.skinned-select select,
div.skinned-select select option {
	width: 130px;
	font-size: 11px;
	color: #316D89;
}

fieldset.inputText {
	font-size: 11px;
	color: #316D89;
	border-radius: 5px;
}

input.inputText {
	font-size: 11px;
	color: #316D89;
}

/* non javascript version select */

.my-skinnable-select select {
  width: 125px;
  font-size: 11px;
  border: 1px solid #D5E6EE;
}

html,
body,
header,
.view {
  height: 125%;
}

@media (max-width: 100px) {
  html,
  body,
  header,
  .view {
    height: 80s0vh;
  }
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 100px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 40px;
}
